# Do not include in release
.gitattributes export-ignore
.gitignore export-ignore

scripts/garbochess-* export-ignore
images/*robot-*.png export-ignore
images/wq.gif export-ignore
LICENSE export-ignore
README.md export-ignore
